* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif, sans-serif;
  background-color: #000;
  /* background-color: rgb(242, 242, 242); */
  /* padding: 2rem; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: rgb(106, 106, 106) !important;
}

/* ::-moz-selection,
::selection {
  color: #fff;
  background: rgb(106, 106, 106);
} */

#register_form,
#login_form {
  position: absolute;
  top: 7rem;
  min-height: calc(100vh - 9rem);
  transition: right 0.5s ease;
}

#register_form {
  right: 150%;
  display: none;
}

#login_form {
  right: 0;
}

/* .content {
  border-radius: 2rem; 
   box-shadow: 8px 8px 1rem rgba(180, 180, 180, 0.426),
    -8px -8px 1rem rgba(180, 180, 180, 0.264); 
} */

header {
  width: 100%;
  height: 10rem;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.logo {
  width: 80px;
  height: auto;
  margin: 1rem;
}

.form-login,
.form-register {
  background-color: #fff;
  border-radius: 3rem 0 0 0;
  padding: 1rem;
  text-align: center;
}

.form-login h1,
.form-register h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.form-login form,
.form-register form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.form-field {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  border-radius: 1rem 0 1rem 1rem;
  box-shadow: 4px 4px 10px rgba(161, 161, 161, 0.39),
    -4px -4px 10px rgba(161, 161, 161, 0.39);
}

.form-field label {
  font-weight: 600;
  letter-spacing: 1px;
}

.form-field input {
  background-color: transparent;
  color: rgb(106, 106, 106);
  font-size: 1.1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  outline: none;
  flex: 1;
}

.input-password {
  display: flex;
  align-items: center;
}

.input-email input {
  width: 100%;
}

.label-row {
  display: flex;
  align-items: center;
}

.label-row label {
  margin-right: auto;
}

.form-field input#password {
  letter-spacing: 1px;
  flex: 1;
}

.input-password svg,
.label-row svg {
  width: 20px;
  height: auto;
}

.validate-sign {
  display: none;
}

.input-password .view-pw {
  display: block;
}

.input-password .hide-pw {
  display: none;
}

button[type="submit"] {
  background-color: #000;
  color: rgb(183, 183, 183);
  border-radius: 1rem 0 1rem 1rem;
  letter-spacing: 1px;
  padding: 0.8rem 0;
  width: calc(100% + 2rem);
  cursor: pointer;
}

.sign-up-instead {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem 0;
}

.sign-up-instead a {
  text-decoration: none;
  color: rgb(106, 106, 106);
}

.form-field .help {
  font-size: 0.8rem;
  color: rgb(106, 106, 106);
}
